<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>

<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p>

<br/>
<div th:fragment="logout" sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-link">
            <i class="fas fa-sign-out-alt"></i> Logout
        </button>
    </form>
</div>

</body>
</html>