<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="new-user-form">
    <div class="form-container mt-3">
        <h4 class="mb-3">Create new user</h4>
        <form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" th:field="*{name}" id="name" required/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" th:field="*{email}" id="email" required/>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" th:field="*{username}" id="username" required/>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" th:field="*{password}" id="password" required/>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
            </div>

            <div class="form-group">
                <label for="enabled">Status:</label>
                <select class="form-control" th:field="*{enabled}" id="enabled">
                    <option th:value="true">Active</option>
                    <option th:value="false">Disabled</option>
                </select>
            </div>

            <div class="form-group">
                <label>Roles:</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="role_admin" name="roles" value="ADMIN"/>
<!--                           th:checked="${#lists.contains(user.roles, 'ADMIN')}"/>-->
                    <label class="form-check-label" for="role_admin">ADMIN</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="role_user" name="roles" value="USER"/>
<!--                           th:checked="${#lists.contains(user.roles, 'USER') or user.roles == null}"/>-->
                    <label class="form-check-label" for="role_user">USER</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create new user</button>

            <div th:if="${message}" th:text="${message}" class="text-success mt-2"></div>
        </form>
    </div>
</div>
</html>