<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: head}"></head>
<body class="bg-light">
<div th:replace="~{fragments/header :: header}"></div>

<!-- Main Content -->
<div class="container py-4">
    <div class="horizontal-tabs">
        <!-- Vertical Tabs -->
        <ul class="nav nav-tabs flex-column" id="roleTabs" role="tablist">
            <li class="nav-item" role="presentation" sec:authorize="hasRole('ADMIN')">
                <button class="nav-link active" id="admin-tab" data-bs-toggle="tab"
                        data-bs-target="#admin-content" type="button" role="tab">
                    Admin
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="user-tab" data-bs-toggle="tab"
                        data-bs-target="#user-content" type="button" role="tab">
                    User
                </button>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="roleTabContent">
            <div th:replace="~{fragments/admin-tab :: admin-tab}"></div>
            <div th:replace="~{fragments/user-tab :: user-tab}"></div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/modals :: modals}"></div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>